<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{Title}}</title>
    <!-- includes -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script -->
    <!-- script src="/static/site.js" asp-append-version="true"></script -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <!-- Site App -->
</head>
<body>
<main role="main" class="pb-3">
<div class="container">
    <!-- APP -->
    <style>
        .overlay{
            position:fixed; top: 0; bottom: 0; left:0 ;right: 0; background: rgba(0,0,0,0.6);
        }
        /* Icon when the collapsible content is shown */
        #btnd:after {
            font-family: "Glyphicons Halflings";
            content: "\e114";
        }
        /* Icon when the collapsible content is hidden */
        #btnd.collapsed:after {
            content: "\e080";
        }
    </style>
    <!-- align-items:center; -->
    <div id="relapp" style="display:flex;min-height:100vh;backgrounp_#eee;">
        <div class="container">
            <h2 class="jumbotron bg-light ">Remote Relays Manager</h2>
             <!--hr class="bg-info" -->
             <div class="well" style="" v-if="stato_desc">
                 Test 123: {{ stato_desc }}
             </div>
            <div class="alert alert-danger col-xs-12" v-if="errorMsg">
            {{ errorMsg }}
            </div>
            <div class="alert alert-success col-xs-12" v-if="successMsg">
                {{ successMsg }}
            </div>
            <!-- app -->
            <div class="well">
                <table>
                    <thead>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td v-for="io in io_status"> {{ io }} </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- end edit region -->
    </div><!-- end app -->
<!-- END -->
</div>
</main>
</div>
    <footer class="border-top footer text-muted">
        <div class="container">
            IZ2VTO Leonardo Barozzi &copy; 2021 - 2025
        </div>
    </footer>
    <script src="/static/site.js"></script>
</body>
</html>

